<footer>
  <small>
    You can find me on <a href="https://www.linkedin.com/in/devonpersing/">LinkedIn</a>. If you've found my work helpful, you can tip me via <a href="https://account.venmo.com/u/a11ydevon">Venmo</a>.
  </small>

  <!-- This site was built using Netlify (https://www.netlify.com/) and Dan Urbanowicz's Eleventy Netlify Boilerplate (https://github.com/danurbanowicz/eleventy-netlify-boilerplate). -->
</footer>
